<div class="container">
    <div class="card-row">
        <div class="card-first">
            <div class="card-product">
                Selected Product: {{selecetedProduct || '(None)'}}
            </div>
            <table class="card">
                <thead>
                    <tr class="card-header">
                        <th>Id</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th class="priceList">Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products" 
                    class="card-body" 
                    (mouseover)="pName.value=product.name" 
                    (mouseleave)="pName.value='(None)'"
                    [class.bg-info]="pName.value==product.name" >
                        <td class="idList">{{product.id}}</td>
                        <td class="imgList">
                            <img src="/assets/images/{{product.imageUrl}}" class="card-img">
                        </td>
                        <td class="nameList">{{product.name}}</td>
                        <td class="priceList">{{product.price}}</td>
                        <td class="btn-list">
                            <button class="btnDelete">Delete</button>
                            <button class="btnUpdate">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label> Product Name</label>
            <input #pName (keyup.enter)="selecetedProduct=pName.value" type="text" class="form-control">       
        </div>
    </div>
</div>

