.container{
    background-color: #c6c4c441;
    margin: 0;
    padding: 0;
}
.card-row{
    display: flex;
    justify-content: space-between;
}
.card-first{
    margin-right: 10px;
}
.card-product{
    background-color: #07678a;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.card-header{
    background-color: #178ea3;
    color: #fff;
    padding: 10px;
    height: 40px;
}
.priceList{
    width: 100px;
    text-align: center;
}
.card-body{
    width: 100%;
    background-color: #fc970066;
}
.idList{
    padding: 5px;
}
.imgList{
    width: 100px;
    padding: 10px;
    text-align: center;
}
.card-img{
    width: 100%;
}
.nameList{
    padding: 20px;
    display:flow-root;
}
.prdName{
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
    text-shadow: 1px 2px hsla(0, 0%, 100%, 0.702);
    margin-bottom: 10px;
}
.prdDescription{
    text-transform: capitalize;
    border: 1px solid grey;
    background-color: #fff;
    height: 80px;
    border-radius: 10px;
    padding: 5px;
}
.btn-list{
    text-align: center;
}
.btnDelete{
    background-color: #ff0000;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}
.editBtn{
    background-color: #00ff00;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
}

.bg-info{
    background-color: #07678a8c;
}
.card-second{
    width: 50%;
}
.form-group{
    background-color: #00ffc353;
    padding: 20px;
    border-radius: 5px;
}
.form-control{
    margin-top: 5px;
    width: 100%;
    border-radius: 4px;
    font-size: 22px;
}
.btnSave{
    background-color: #2b00ff;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px; 
}