<div class="container">
    <div class="card-row">
        <div class="card-first">
            <div class="card-product" *ngIf="selecetedProduct">
                Selected Product: {{selecetedProduct.name || '(None)'}}
            </div>
            <table class="card">
                <thead>
                    <tr class="card-header">
                        <th>Id</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th class="priceList">Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products" 
                    class="card-body" 
                    [class.bg-info]="getSelected(product)" >
                        <td class="idList">{{product.id}}</td>
                        <td class="imgList">
                            <img src="/assets/images/{{product.imageUrl}}" class="card-img">
                        </td>
                        <td class="nameList">
                            <div class="prdName">{{product.name}}</div>
                            <div class="prdDescription">{{product.description}}</div>
                        </td>
                        <td class="priceList">{{product.price}}</td>
                        <td class="btn-list">
                            <button class="btnDelete" (click)="deleteProduct(product)" >Delete</button>
                            <button (click)="editProduct(product)" class="editBtn">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-second" *ngIf="selecetedProduct">
            <div class="form-group">
                <label> Product Name</label>
                <input [(ngModel)]="selecetedProduct.name" type="text" class="form-control">       
            </div>
            <div class="form-group">
                <label> Product Price</label>
                <input [(ngModel)]="selecetedProduct.price" type="text" class="form-control">       
            </div>
            <div class="form-group">
                <label> Product Image</label>
                <input [(ngModel)]="selecetedProduct.imageUrl" type="text" class="form-control">       
            </div>
            <div class="form-group">
                <label> Product Description</label>
                <textarea [(ngModel)]="selecetedProduct.description" type="text" class="form-control textDecoration"> </textarea>     
            </div>
            <button class="btnSave" (click)="SaveChanges()">Save Changes</button>
        </div>
    </div>
</div>

