<div class="container">
  <div class="card-first">
    <ul class="nav-group">
      <div class="nav-left">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="products" class="nav-link" routerLinkActive="active">Products</a>
        </li>
      </div>
      <li class="nav-item">
        <a routerLink="users" class="nav-link" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="admin" class="nav-link" routerLinkActive="active">Admin</a>
      </li>
    </ul>
  </div>
  <div class="card-second">
    <div class="card-categories">
      <app-categories></app-categories>
    </div>
    <div class="card-pages">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>