<div class="container">
  <div class="row">
    <div class="header">
      <h3>
        [{{getName()}}] To Do List</h3> <!--getName() fonksionun içeriğini yazdır.-->
      <div class="input-group">
        <input type="text" class="form-control" #todoText> <!--todoText ile value kontrolü-->
        <div class="input-group-append">
          <button class="bnt-primary" (click)="addItem(todoText.value); todoText.value='';">Add</button> <!--butona click eventi verildi ve todoText'e gelen değer addItem(app.component.ts içerisinde) fonksiyona atıldı.-->
        </div>
      </div>
      <div class="checkbox-right">
        <input type="checkbox" id="displayAll" [(ngModel)]="isDisplayAll">
        <label for="displayAll">Hepsini Göster</label>
      </div>
      <table class="table">
        <thead class="list-header">
          <tr>
            <th>No</th>
            <th>Description</th>
            <th></th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="list-body">
          <tr *ngFor="let item of getItems(); let i=index"> <!--For kullanımı, index 0'dan başlar-->
            <td>{{i+1}}</td> <!--index numaralrını 1 artır-->
            <td>{{item.description}}</td> <!--getItems() fonksiyonun içerisinde bulunan her itemin description kısmını yazdır.-->
            <td><input type="checkbox" [(ngModel)]="item.action"></td><!--checkbox değeri item.action a karşılık gelecektir.-->
            <td [ngSwitch]="item.action"> <!--Switc kullanımı-->
              <span *ngSwitchCase="true">Yes</span>  <!--action içerisinde true olanları Yes şeklinde dönüştür.-->
              <span *ngSwitchCase="false">No</span>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>