<div class="container">
  <div class="row">
    <div class="header">
      <h3>[{{user}}] To Do List</h3>
      <div class="input-group">
        <input type="text" class="form-control">
        <div class="input-group-append">
          <button class="bnt-primary">Add</button>
        </div>
      </div>
      <table class="table">
        <thead class="list-header">
          <tr>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="list-body">
          <tr *ngFor="let item of items">
            <td>{{item.description}}</td>
            <td>{{item.action}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>