.card{
    padding: 20px;
    background-color: #098488;
}
.input-group{
    display: flex;
}
.form-control{
    padding: 5px;
    width: 300px;
    border-radius: 8px;
}
.btn-update{
    padding: 6px;
    background-color: #7e1d1d;
    border: none;
    color: #fff;
    border-radius: 8px;
    margin-left: 5px;
}
