/*bu dosyanın içerisindeki css kodları sadece app.component.html sayfasına uygulanır.*/
.container{
    width: 500px;
    margin: auto;
    height: 600px;
    background-color: #ff7206;
    border-radius: 10px;
}