.container{
    background-color: #6bb5b8;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.btn-clear{
    float: right;
    border: none;
    background-color: #dccdcd;
    padding: 5px;
    color: #ff0000;
}