.container{
    background: #efefef;
    height: 600px;
}
.card-first{
    padding: 10px;
    width: 600px;
    background-color: #fff;
    border-radius: 8px;
    margin-left: 20px;
}
.card-form{
    background: #009dff;
    padding: 10px;
    color: #fff;
}
.form-group{
    margin: 10px;
}
.form-control{
    display: block;
    width: 100%;
    padding: 3px;
}
.submitBtn{
    background: #009dff;
    padding: 10px;
    width: 80px;
    border: none;
    border-radius: 7px;
    margin: 10px;
    color: #22ff00;
}
.alert-danger{
    background-color: #ff7d7d;
}
.form-message{
    background-color: #ff0000;
    color: #fff;
}