<div>
    there are {{ model.getProducts().length }} products in the repository.
</div>
<div class="text-color" [class]="getClasses(1)">
    katalogtaki ilk ürün {{model.getProductById(1).name}}
</div>
<div [class]="getClasses(2)">
    katalogtaki ilk ürün {{model.getProductById(2).name}}
</div>
<div [class]="getClasses(3)">
    katalogtaki ilk ürün {{model.getProductById(3).name}}
</div>
<div class="card-border mgn-5" [ngClass]="getClassMap(1)">
    katalogtaki <span [style.fontSize]="fontSize">ilk ürün </span> {{model.getProductById(1).name}}
</div>
<div class="card-border mgn-5" [ngClass]="getClassMap(4)">
    katalogtaki <span [style.color]="color">ikinci ürün </span> {{model.getProductById(4).name}}
</div>
<div class="card-border mgn-5" [ngClass]="getClassMap(5)">
    katalogtaki <span [ngStyle]="getStyles(3)">üçüncü ürün </span> {{model.getProductById(5).name}}
</div>

<!--Event Binding-->
<div (click)="onDivClicked()" style="width: 200px; height: 100px; background-color: brown;">
    <button name="btn1" (click)="onSubmit($event)">Button 1</button>
    <button name="btn2" (click)="onSubmit($event)">Button 2</button>

</div>
<!--keyup event-->
<input style="margin: 30px;" (keyup)="onKeyUp($event)"/>
<input style="margin: 30px;" (keyup.enter)="onKeyUpEnter()"/>
<input style="margin: 30px;" #email (keyup.enter)="onKeyUpEmail(email.value)"/>