<movie-detail [movie]="selectedMovie"></movie-detail> <!--başka bircomponent e parametre gönderme -->
<div class="container">
    <div class="header">
        {{title}}
    </div>
    <ul class="list-group">
        <li *ngFor="let movie of movies" (click)="onSelect(movie)"  class="list-item" 
        [class.active]="movie===selectedMovie"> <!--seçilen eleman selectedMovie ye eşit ise active class ını aktif edilir.(bg-blue)-->
            <span class="badge-primary">{{movie.id}}</span> {{movie.name}} <span class="close">X</span>
        </li>
    </ul>
</div>