.container{
    background-color: #098488;
}
.header{
    text-align: center;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #c4c3c3;
    background-color: #098488;
    border-radius: 0px 0px 5px 5px;
    color: #0c035a;
}
.list-group{
    list-style: none;
    margin: 0;
    padding: 10px;
    font-size: 18px;
}
.list-item{
    border-bottom: 1px solid #14aaaf;
    padding: 10px;
    background-color: #6bb5b8;
    border-radius: 4px;
}
.badge-primary{
    background-color: blue;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
}
.close{
    float: right;
    color: #fff;
    background-color: #ff0000;
    text-align: center;
    width: 20px;
}
.active{
    background-color: #5050df;
}